[CLI]
# Cấu hình mặc định khi chạy Manim
frame_rate = 60
pixel_height = 1080
pixel_width = 1920
background_color = #141414
# Cấu hình có thể thay đổi bằng cờ -pql (chất lượng thấp để test) hoặc -pqh (chất lượng cao)